<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head" ></head>
<body>
  <nav th:replace="fragments.html :: main-nav"></nav>
  <div class="container">
    <div id="error-tag" class="py-5 text-center" style="display: none">
      <p class="lead">WeGather 가입</p>
      <div class="alert alert-danger" role="alert">
        <p id="error-text">이메일 전송중 에러 발생했습니다.</p>
      </div>
    </div>
    <div class="py-5 text-center">
      <p class="lead">WeGather 가입</p>

      <h2>WeGather 서비스를 사용하려면 인증 이메일을 확인하세요.</h2>

      <div>
        <p id="email-text" class="lead">your@email.com</p>
        <a id="resend-button" class="btn btn-outline-info">인증 메일 다시 보내기</a>
      </div>
    </div>
  </div>
  <script th:src="@{/js/account/resend-email.js}"> </script>
</body>
</html>
