<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .container {
      max-width: 100%;
    }
  </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/" th:href="@{/}">WeGather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form th:action="@{/search/study}" class="form-inline" method="get">
          <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="모임 찾기" aria-label="Search" />
        </form>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item unauthenticated">
        <a class="nav-link" href="#" th:href="@{/view/sign-in}">로그인</a>
      </li>
      <li class="nav-item unauthenticated">
        <a class="nav-link" href="#" th:href="@{/view/sign-up}">가입</a>
      </li>

      <li class="nav-item authenticated">
        <a class="nav-link" th:href="@{/notifications}">알림</a>
      </li>
      <li class="nav-item authenticated">
        <a class="nav-link btn btn-outline-primary" th:href="@{/notifications}">스터디 개설</a>
      </li>
      <li class="nav-item dropdown authenticated">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          프로필
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <h6 class="dropdown-header">
            <span id="profile-username">Username</span>
          </h6>
          <a class="dropdown-item">프로필</a>
          <a class="dropdown-item" >스터디</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">설정</a>
          <form class="form-inline my-2 my-lg-0" action="#"method="post">
            <button class="dropdown-item" type="submit">로그아웃</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <script>
    const unauthenticatedComponent = document.querySelectorAll(".unauthenticated");
    const authenticatedComponent = document.querySelectorAll(".authenticated");

    document.addEventListener('DOMContentLoaded', () => {
      getUserInfo();
    });

    const showWhenAuth =() => {
      authenticatedComponent.forEach((component) => {
        component.style.display = 'block';
      });
      unauthenticatedComponent.forEach((component) => {
        component.style.display = 'none';
      });
    };

    const showWhenUnAuth =() => {
      authenticatedComponent.forEach((component) => {
        component.style.display = 'none';
      });
      unauthenticatedComponent.forEach((component) => {
        component.style.display = 'block';
      });
    };

    const changeProfileUsername = (username) => {
      const profileUsername = document.getElementById('profile-username');
      profileUsername.textContent = username;
    }

    const getUserInfo = () => {
      axios.request({
        url: '/auth/me',
        method: 'GET',
        withCredentials: true
      }).then((response) => {
        const data = response.data;
        console.log('username:', data);
        showWhenAuth();
        changeProfileUsername(data);
      }).catch((error) => {
        console.log(error);
        showWhenUnAuth();
      });
    };
  </script>

</nav>



<script type="application/javascript" th:fragment="form-validation">
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

</html>
