<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head" ></head>
<body class="bg-light">
  <nav th:replace="fragments.html :: main-nav"></nav>

  <div id="unverified-alert" class="alert alert-warning" role="alert" style="display: none">
    WeGather 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
  </div>

  <div class="container">
    <div class="py-5 text-center">
      <h2>WeGather</h2>
    </div>
  </div>
  <script th:src="@{/js/index.js}"> </script>
</body>
</html>
